body {
    min-height: 100vh;
}

.sidebar {
    background-color: #198754;
    padding: 15px;
    height: 100vh; /* Full height sidebar */
}

#centerd-Text{
    text-align: center;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.sidebar a:hover{
    background-color: rgba(240, 248, 255, 0.51);
}

.tableContainer{

    padding-left: 50px;
    padding-right: 50px;

}

.searchRow{
    margin-top: 30px;
    margin-bottom: 65px;
}



/*------- modal ---------------*/

.modal-content {
    display: flex;
    flex-direction: row; /* Set columns side by side */
}

.modal-body {
    display: flex;
    gap: 20px; /* Add spacing between columns */
}

.image-column {
    flex: 1; /* Fixed width for image column */
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-column img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content-column {
    flex: 2; /* Flexible width for content */
    overflow-y: auto; /* Enable scrolling for content */
    max-height: 500px;
}

.content-row{
    display: flex;

}


